<%-include('adminNavbar')%>


<section  class="bg-success">
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-white mb-4 text-center">Add a product</h1>
  
          <div class="card" style="border-radius: 15px;">

            
            <form action="" method="post" enctype="multipart/form-data">
              <% if(locals.message){ %>
                <div>
                  <p class="text-danger"><%= message %></p>
                </div>
                <% } %>
       
            <div class="card-body">

              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Product Name</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg" name="productName" />
  
                </div>
              </div>
  
              <hr class="mx-n3">

              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Product Price</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="number" class="form-control form-control-lg" name="price" />
  
                </div>
              </div>
  
              <hr class="mx-n3">

              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Product Stock</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="number" class="form-control form-control-lg" name="stock" />
  
                </div>
              </div>
  
              <hr class="mx-n3">

              <div class="row align-items-center py-3" style="display: flex; ">
                <div class="col-md-3 ps-5" style="flex: 1;">
  
                  <h6 class="mb-0">Product Category</h6>
  
                </div>

                <div style="flex: 1;">
                  <select name="category" class="form-select mr-5" aria-label="Default select example">
                    <option selected>Select the category</option>
                    <% categories.forEach(function(category) { %>
                      <option name="<%= category.categoryName %>"  value="<%= category.categoryName %>"><%= category.categoryName %></option>
                    <% }); %>
                  </select>
                </div>
                
              
              </div>
  
              <hr class="mx-n3">

              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Product Details</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <textarea class="form-control" rows="4" name="description"></textarea>
  
                </div>
              </div>

              <hr class="mx-n3">
              
              <div style="display: flex;">

              <div class="col-md-3 ps-5" style="flex: 1;" >
  
                <h6 class="mb-0" >Product Image upload</h6>

              </div>
              <div style="flex: 1;">
              <input class="form-control" name="file" multiple type="file" id="formFileMultiple" multiple />
            </div>
            </div>

              <hr class="mx-n3">
  
              <div class="px-5 py-4 text-center">
                <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
              </div>
  
            </div>
        </form>
          </div>
  
        </div>
      </div>
    </div>
  </section>