<%- include('./partials/header.ejs')  -%>
<%- include('./partials/navbar.ejs')  -%>

<section class="h-100 gradient-custom mt-5">
  <div class="container py-5">
    <div class="row justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Order Summary</h5>
          </div>
          <form action="" method="post">
          <div class="card-body">
            <% const subtotal=[] %>
            <% productData.forEach((item) => { %>
            <% const total = item.product.price * item.count %>
            <% subtotal.push(total) %>
            <div class="row mb-3">
              <div class="col-md-6">
                <p class="text-capitalize"><strong><%= item.product.productName %></strong></p>
                <h6 class="mb-0">Price: &#8377;<%= item.product.price %></h6>
                <h6 class="mb-0">Quantity: <%= item.count %></h6>
                <p class="mb-0">Total: &#8377;<%= total %></p>
              </div>
            </div>
            <% }) %>
            <% const grandTotal = subtotal.reduce((acc, curr) => acc + curr) %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <div class="card mb-4">
                  <div class="card-header py-3">
                    <div>
                      <strong>Total amount</strong>
                      <strong>
                        <p class="mb-0">(including VAT)</p>
                      </strong>
                    </div>
                    <h4 class="mb-0 mt-2">&#8377;<%= grandTotal %></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 class="mb-3">Address</h4>
    <div class="d-block my-3 p-3">
      <a href="/address" class="btn btnStyle">Add Address here </a>
      </div>
    
    <% addressList.forEach(item => { %>
      <% const { name, address, phone, houseNumber, pincode, city, state, landmark, alternatePhone } = item; %>
      <div class="d-block my-3 p-3">
        <div class="form-check form-check-inline mr-3">
          <input id="cod" name="address" type="radio" class="form-check-input" checked value="<%= name %>,<%= phone %>,<%= address %>,<%= houseNumber %>,<%= pincode %>, <%= city %>, <%= state %>, <%= landmark %>" required>
          <label class="form-check-label" for="cod"><%= name %>,<%= address %>,<%= houseNumber %>,<%= houseNumber %>, <%= pincode %></label>
        </div>
      </div>
    <% }) %>

    <h4 class="mb-3">Payment</h4>
    <div>
        <input type="hidden" value="<%=grandTotal%>" name="grandTotal">
    </div>
    
    <div class="d-block my-3 p-3">
      <div class="form-check form-check-inline mr-3">
        <input id="cod" name="paymentMethod" type="radio" class="form-check-input" checked value="cod" required>
        <label class="form-check-label" for="cod">Cash on Delivery / Pay on delivery</label>
      </div>
      <div class="form-check form-check-inline mr-3">
        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" value="'credit" required >
        <label class="form-check-label" for="credit">Credit card</label>
      </div>
      <div class="form-check form-check-inline mr-3">
        <input id="debit" name="paymentMethod" type="radio" class="form-check-input" value="'debit" required >
        <label class="form-check-label" for="debit">Debit card</label>
      </div>
      <div class="form-check form-check-inline">
        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" value="paypal" required >
        <label class="form-check-label" for="paypal">PayPal</label>
      </div>
    </div>
    <button class="btn btn-success btn-lg btn-block col-md-6 mx-auto" type="submit">Checkout</button>
</form>
  </div>
</section>

<%- include('./partials/footer.ejs')  -%>
